faiss-cpu
fastapi
langchain   # optional; can be used later
langchain-community
langchain-text-splitters
markdown
nltk
numpy
openai>=1.0.0
pgvector
psycopg2-binary
pydantic
pypdf
python-dotenv
redis
requests
sentence-transformers
sqlalchemy
tqdm
unstructured
uvicorn[standard]
